@charset "utf-8";

/* Forms */
input[type=text], radio,textarea
{
  width: 100%;
  resize: vertical;
padding: 12px 20px;
  margin: 8px 0;
    border:1px solid #F2A2C0;
    border-radius:12px;

}

* {
  box-sizing: border-box;
}

input
{
    padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
    font-family: 'Itim', cursive;
    border:solid 1px;
    font-size:17px;
    border-radius:12px;
    background-color: #FFF0F5;
    color:#DB7093;
}

fieldset {
      border: 2px solid #CF537B;
    border-radius:20px;;
    }

input:focus {
  background-color: #FFDBED;
}

legend
{
    font-family: 'Bagel Fat One', cursive;
    font-size: 30px;
    color: #db7093;
    text-shadow: 3px 3px #FFDBED;
}

label
{
        font-family: 'Itim', cursive;
        font-size: 20px;
    color:#CF537B;
      display: inline-block;
      padding: 12px 12px 12px 0;

}

small
{
        font-family: 'Itim', cursive;
    color:#DB7093;
}

input[type=submit]{
  background-color: #DB7093;
  border: solid 3px #CF537B;
  color: #FFF0F5;
  padding: 16px 32px;
  margin: 4px 2px;
  cursor: pointer;
    font-size:20px;
    float:right;
}

input[type=reset] {
  background-color: #FFDBED;
    border: solid 3px #DB7093;
  color: #DB7093;
  padding: 16px 32px;
  margin: 4px 2px;
  cursor: pointer;
    font-size:20px;
    float:right;
}

input[type=submit]:hover {
  background-color: #CF537B;
}

input[type=reset]:hover {
  background-color: #F9B8CF;
}

.container {
  border-radius: 5px;
  background-color: #fff3f7;
border-radius:15px;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/* Ho
rizontal Nav. */
img
{    border: solid 3px #DB7093;
    border-radius: 10px;
}
ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    top: 0;
    margin-left: auto;
    margin-right: auto;    
    width: fit-content;
    background-color: #fff9fb;
    line-height: 2px;
    font-size: 20px
}

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    text-decoration: none;
}

/* Link Button */
a:link,
a:visited {
    color: #fff0f5;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Center Format */
a,
address,
article,
aside,
figcaption,
figure,
footer,
header,
main,
nav,
section {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* Fonts */
body {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    min-width: 640px;
    width: 95%;
    background-color: #fff9fb;
}

hr {
    border: 1px solid #f2a2c0;
    border-radius: 5px;
}

footer {
    background-color: #fff0f5;
    border-style: solid;
    border-color: #f2a2c0;
    border-width: 3px;
    border-radius: 15px;
    text-align: left; 
    font-family: 'Bagel Fat One', cursive;
    color: #db7093;
    text-shadow: 1px 1px #f9b8cf;
    line-height:0.05em;
}

.footer-link
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Itim', cursive;
    font-size: 10px;
    letter-spacing: 0.05em;
    line-height: 1em;
    text-shadow: 1.7px 1.5px #cf537b;
}

address
{
    font-family: 'Itim', cursive;
    font-size:18px;
}

p {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Itim', cursive;
    font-size: 20px;
    letter-spacing: 0.005em;
    line-height: 0.95em;
    color: #DB7093;
}

footer p
{
       font-size: 20px;
    letter-spacing: 0.05em;
    line-height: 0.05em; 
}

h2{
    font-family: 'Bagel Fat One', cursive;
    font-size: 40px;
    color: #db7093;
    text-shadow: 3px 3px #FFDBED;
    text-align:center;
    line-height: 0.05em;
}

h1,
header {
    font-family: 'Bagel Fat One', cursive;
    padding: 5px;
    font-size: 45px;
    color: #db7093;
    text-shadow: 3px 3px #FFDBED;
}

a {
    font-family: 'Itim', cursive;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-shadow: 1.7px 1.5px #cf537b;

}


footer h3
 {
    font-size: 25px;
    color: #f2a2c0;
    text-shadow: 1px 1px #db7093;
    letter-spacing: 0.05em;
    text-align: center;
    line-height:0.005em;
}


li {
    float: left;
    margin-right:20px;
    font-family: 'Itim', cursive;
}

li a {
    color: #fff0f5;
    border: solid 2px;
    border-color: #cf537b;
    border-radius: 15px;
}

li a:hover {
    background-color: #DB7093;
}

#active {
    background-color: #f9b8cf;
}

a:link {
    background-color:#f088aa;
    border-radius:15px;    
}
